.color {
    height: 130px;
    width: 100px;
    padding: 5px 20px;
}

.color-light {
    color: white;
}

.color p {
    margin: 2px;
    font-size: 14px;
}

.color .color-value {
    font-weight: 500;
}

.color .alert {
    text-transform: uppercase;
    font-size: 12px;
}